.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App button {
  padding: 10px;
}

#polaroid {
  padding: 20px 10px;
  width: 100%;
  overflow: hidden;
}

#polaroid figure {
  float: left;
  position: relative;
  width: 300px;
  margin: 10px 20px;
  padding: 6px 8px 10px 8px;
  background: #eee6d8;
  background: linear-gradient(to right, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
}